@import url(http://fonts.googleapis.com/css?family=EB+Garamond&v2);
/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../sass/partials/_base.sass */
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block;
}

/* line 10, ../sass/partials/_base.sass */
hr {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/_base.sass */
a img {
  border: 0;
}

/*	Typography presets
 *	------------------ */
/* line 33, ../sass/partials/_base.sass */
body {
  font: 16px/24px verdana;
}

/* line 36, ../sass/partials/_base.sass */
h1, h2, h3, h4, h5, h6 {
  color: #202425;
  font-family: "EB Garamond", serif;
}

/* line 40, ../sass/partials/_base.sass */
h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
  font-weight: 400;
}

/* line 46, ../sass/partials/_base.sass */
h2 {
  font-size: 42px;
  line-height: 48px;
}

/* line 50, ../sass/partials/_base.sass */
h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 54, ../sass/partials/_base.sass */
h4 {
  font-size: 22px;
  line-height: 30px;
}

/* line 64, ../sass/partials/_base.sass */
small, .small {
  font-size: 13px;
  line-height: 18px;
  color: #3c4447;
}

/* line 67, ../sass/partials/_base.sass */
a {
  color: #0067a5;
  text-decoration: none;
  border-bottom: 1px solid;
}
/* line 71, ../sass/partials/_base.sass */
a:visited {
  color: #0067a5;
}
/* line 73, ../sass/partials/_base.sass */
a:hover, a:active, a:focus {
  color: #00243a;
  border-bottom: 1px solid;
}

/* line 78, ../sass/partials/_base.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, img a {
  text-decoration: none;
  border: none;
}
/* line 81, ../sass/partials/_base.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, img a:hover {
  border: none;
}

/* line 84, ../sass/partials/_base.sass */
ins {
  text-decoration: none;
}

/* line 87, ../sass/partials/_base.sass */
body {
  border-top: 6px solid #202425;
  padding: 72px 0 84px;
  background: #fafefb;
  color: #2e3436;
  -webkit-text-size-adjust: 100%;
}

/* line 94, ../sass/partials/_base.sass */
#content .inner, #siteheader .inner, #sitefooter .inner {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  padding: 0 48px;
  width: 896px;
  position: relative;
}

/* line 101, ../sass/partials/_base.sass */
#content {
  margin: 24px auto;
}

/* line 105, ../sass/partials/_base.sass */
#content p, #content ul, #content ol, #content pre {
  margin-bottom: 24px;
}
/* line 108, ../sass/partials/_base.sass */
#content ul {
  list-style: disc;
  padding: 0 0 0 24px;
}

/* line 1, ../sass/partials/_header.sass */
#siteheader {
  text-align: center;
}
/* line 7, ../sass/partials/_header.sass */
#siteheader #logo {
  border-top: 4px solid #202425;
  border-bottom: 2px solid #202425;
  background: transparent url("../img/header.jpg") center center no-repeat;
  height: 144px;
}
/* line 12, ../sass/partials/_header.sass */
#siteheader #logo hgroup {
  padding-top: 24px;
  text-shadow: 0px 0px 10px black;
}
/* line 16, ../sass/partials/_header.sass */
#siteheader #logo a h1, #siteheader #logo a h2 {
  color: #fcfffe;
}
/* line 19, ../sass/partials/_header.sass */
#siteheader #logo h1 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 400;
}
/* line 23, ../sass/partials/_header.sass */
#siteheader #logo h2 {
  font-size: 26px;
  line-height: 36px;
}
/* line 27, ../sass/partials/_header.sass */
#siteheader nav {
  background-color: #202425;
  border-bottom: 2px solid #202425;
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../sass/partials/_header.sass */
#siteheader nav ul {
  padding-left: 34px;
}
/* line 33, ../sass/partials/_header.sass */
#siteheader nav ul li {
  display: block;
  float: left;
  width: 252px;
  padding-right: 24px;
}
/* line 38, ../sass/partials/_header.sass */
#siteheader nav ul li a {
  font-size: 26px;
  line-height: 36px;
  color: #fafcfe;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  border-bottom: none;
}

/* line 49, ../sass/partials/_header.sass */
body.home #siteheader #logo {
  background: transparent url("../img/header.jpg") no-repeat;
  height: 336px;
}
/* line 52, ../sass/partials/_header.sass */
body.home #siteheader #logo hgroup {
  padding-top: 96px;
}
/* line 54, ../sass/partials/_header.sass */
body.home #siteheader #logo h1 {
  font-size: 68px;
  line-height: 72px;
}
/* line 58, ../sass/partials/_header.sass */
body.home #siteheader #logo h2 {
  font-size: 42px;
  line-height: 48px;
}

/* line 5, ../sass/partials/_home.sass */
#gallery .img ._ls, #gallery .img ._rs {
  float: left;
  height: 96px;
  background-color: #202425;
  margin-right: 12px;
  width: 22px;
  display: none;
}
/* line 13, ../sass/partials/_home.sass */
#gallery .img ._f {
  width: 252px;
  height: 96px;
  margin: 0 12px 24px 0;
  float: left;
  overflow: hidden;
}
/* line 21, ../sass/partials/_home.sass */
#gallery .img.last ._rs {
  margin-right: 0;
}
/* line 29, ../sass/partials/_home.sass */
#gallery .img.n1 ._ls {
  display: block;
  width: 12px;
}
/* line 32, ../sass/partials/_home.sass */
#gallery .img.n1 ._rs {
  display: block;
}
/* line 36, ../sass/partials/_home.sass */
#gallery .img.n2 ._rs {
  display: block;
}
/* line 40, ../sass/partials/_home.sass */
#gallery .img.n3 ._rs {
  display: block;
  width: 12px;
}
/* line 47, ../sass/partials/_home.sass */
#gallery .img.n4 ._ls {
  display: block;
  width: 12px;
}
/* line 50, ../sass/partials/_home.sass */
#gallery .img.n4 ._rs {
  display: block;
}
/* line 54, ../sass/partials/_home.sass */
#gallery .img.n5 ._rs {
  display: block;
}
/* line 58, ../sass/partials/_home.sass */
#gallery .img.n6 ._rs {
  display: block;
  width: 12px;
}
/* line 65, ../sass/partials/_home.sass */
#gallery .img.n7 ._ls {
  display: block;
  width: 12px;
}
/* line 68, ../sass/partials/_home.sass */
#gallery .img.n7 ._rs {
  display: block;
}
/* line 72, ../sass/partials/_home.sass */
#gallery .img.n8 ._rs {
  display: block;
}
/* line 76, ../sass/partials/_home.sass */
#gallery .img.n9 ._rs {
  display: block;
  width: 12px;
}

/* line 1, ../sass/partials/_footer.sass */
#sitefooter {
  padding-top: 24px;
}
/* line 5, ../sass/partials/_footer.sass */
#sitefooter .wrap {
  border-top: 12px solid #202425;
  padding-top: 12px;
}
/* line 9, ../sass/partials/_footer.sass */
#sitefooter p {
  font-size: 13px;
  line-height: 18px;
  color: #3c4447;
}

/* line 4, ../sass/partials/_pages.sass */
body.textpage #content article header {
  margin-bottom: 24px;
}

/* line 10, ../sass/partials/_pages.sass */
body.story #content article p, body.contact #content article p {
  width: 528px;
}

/* line 15, ../sass/partials/_pages.sass */
body.sleeves #content article {
  position: relative;
}
/* line 18, ../sass/partials/_pages.sass */
body.sleeves #content article #details, body.sleeves #content article #about, body.sleeves #content article #purchase {
  width: 528px;
}
/* line 22, ../sass/partials/_pages.sass */
body.sleeves #content article #details dl .price, body.sleeves #content article #about dl .price, body.sleeves #content article #purchase dl .price {
  display: block;
  width: 160px;
  margin-right: 24px;
  float: left;
}
/* line 28, ../sass/partials/_pages.sass */
body.sleeves #content article #details dl dd, body.sleeves #content article #about dl dd, body.sleeves #content article #purchase dl dd {
  margin-left: 24px;
}

/* line 33, ../sass/partials/_pages.sass */
body.story #content article, body.sleeves #content article {
  position: relative;
}
/* line 36, ../sass/partials/_pages.sass */
body.story #content article figure, body.sleeves #content article figure {
  position: absolute;
  width: 344px;
  height: 720px;
  overflow: hidden;
  top: 96px;
  right: 0;
}
/* line 44, ../sass/partials/_pages.sass */
body.story #content article figure .image, body.sleeves #content article figure .image {
  margin-bottom: 24px;
}
