{% extends 'base.html' %}

{% block title %}Leather sleeves{% endblock %}

{% block description %}Handcrafted leather sleeves for 13 and 15 inch laptops{% endblock %}

{% block content %}
    <article id="leather_sleeves_page" class="page">
        <header><h1>Leather sleeves</h1></header>

	<p>The first batch of 40 leather sleeves from <em>Jakob.Johan</em> are on sale.</p>
            <ul>

                <li>Specially designed for Macbook 13/13.3" and 15"</li>

                <li>Soft protective internal padding, water-resistant edges</li>

                <li>Magnetic buttons</li>

                <li>Handmade from finest Indian leather</li>

                <li>1 year warranty</li>

                <li>Price: 845 DKK (13.3") and 895 DKK (15")</li>

            </ul>

        </article>


{% endblock %}
