{% extends 'base.html' %}

{% block title %}Leather sleeves{% endblock %}

{% block description %}Handcrafted leather sleeves for 13 and 15 inch laptops{% endblock %}

{% block content %}
    <article id="leather_sleeves_page" class="page">
        <header><h1>Leather sleeves</h1></header>



            <p>The first batch of 40 leather sleeves from Scandinavian JAKOB.JOHAN.</p>
            <ul>

                <li>Specially designed for Macbook 13.3" and 15"</li>

                <li>Soft protective internal padding, water-resistant edges</li>

                <li>Magnetic buttons provide a powerful closing mechanism</li>

                <li>Handmade from strong high-quality Indian leather</li>

                <li>1 year warranty</li>

                <li>Price: 845 DKK (13.3") and 895 DKK (15")</li>

            </ul>


            <div id="sleeve_gallery">
                <div id="container">
                    <img id="img_1" src="sleeve_gallery/1.jpg" />
                    <img id="img_2" src="sleeve_gallery/2.jpg" />
                    <img id="img_3" src="sleeve_gallery/3.jpg" />
                    <img id="img_4" src="sleeve_gallery/4.jpg" />
                    <img id="img_5" src="sleeve_gallery/5.jpg" />
                </div>

                <nav>
                    <ul>
                        <li id="thumb_1"><a href="#img_1"><img src="sleeve_gallery/1_thumb.jpg" /></a></li>
                        <li id="thumb_2"><a href="#img_2"><img src="sleeve_gallery/2_thumb.jpg" /></a></li>
                        <li id="thumb_3"><a href="#img_3"><img src="sleeve_gallery/3_thumb.jpg" /></a></li>
                        <li id="thumb_4"><a href="#img_4"><img src="sleeve_gallery/4_thumb.jpg" /></a></li>
                        <li id="thumb_5"><a href="#img_5"><img src="sleeve_gallery/5_thumb.jpg" /></a></li>
                    </ul>
                </nav>

            </div>




        </article>


{% endblock %}