{% extends 'base.html' %}

{% block title %}The story{% endblock %}

{% block description %}The story of how Jakob and Johan had the first leather bags made in India.{% endblock %}

{% block content %}

<article>

<header><h1>the story</h1></header>

 <p>In February, 2011, Jakob Pethick and Johan Bichel, two Danes volunteering at a nearby school, met a group of Swedes
     at The Only Place Guesthouse near Pondicherry, India.
     The Swedes had started a fashion accessory business a few months back, commissioned the production of several hundred
     leather bags - cows are only that holy, even in India -, travelled around India and were now back to pick up the
     finished goods. Intrigued by the idea of working with and creating leather wares, Jakob and Johan had the Swedes
     show them the leather workshop where they had had everything produced. </p>

<p>After a dirty and dusty bike ride through the spiritual society of Auroville,
    they came to a small house where a few dozen men and women were busy stitching,
    stamping, engraving and cutting leather for bags and belts.
    The manager, Mr. Ganesan, explained the various work stations in the workshop and the working conditions of the workers,
    whilst he proudly demonstrated their careful attention to detail and quality craftsmanship. As it would later turn out,
    Mr. Ganesan was an invaluable (and, in keeping with his name's phonetic similarity to Ganesha, the Elephant
    God, patient and calm) source of expert advice when Jakob and Johan had to reconciliate their ideas with the
    nature of leather fabric.</p>

<p>Inspired by what they had seen at the leather workshop, Jakob and Johan immediately went home to their room at
    The Only Place. Johan dug out his aging Macbook, opened Google Sketchup, and they began designing. A lot of
    sketches, a bunch of 3D models and a few stiched together paper prototypes later they had an initial design
    for macbook laptop leather sleeves that drew heavily upon the
    Scandinavian simplistic design tradition - whatever that means.</p>

<p>Realising that the they could not leave Johan's computer at the workshop,
    they had two 1:1 wooden macbook (13.3" and 15") replica built by the local woodworker to function as a test
    of how the leather sleeves would fit a real macbook - they should not be too spacious, nor too tight.  </p>

<p>Jakob and Johan handed everything over to Mr. Ganesan - drawings, prototypes, wood macs and measurements. In
    turn, Mr. Ganesan got hold of some high-quality leather from Chennai (Madras), and produced the first JAKOB.JOHAN
    laptop leather sleeve. After a few minor corrections, 40 more were produced - handcrafted from genuine
    leather in the small leather workshop in Pondicherry, India - and shipped to Denmark.</p>

</article>

{% endblock %}