{% extends 'base.html' %}

{% block title %}Contact {{ block.super }}{% endblock %}

{% block bodyclass %}textpage contact{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<article>
    <header>
        <h1>Contact</h1>
    </header>

    <p>If you would like to purchase a <em>Jakob.Johan</em> leather sleeve or have questions, ideas or problems we are happy to hear from you.</p>

    <ul>
    <li>E-mail: <a href="mailto:jakob@johan.cc">jakob@johan.cc</a></li>
    <li>Phone: +45 2877 4947 (Jakob) or +45 2360 0462 (Johan)</li>

    </ul>

</article>

{% endblock %}