{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}The story {{ block.super }}{% endblock %}

{% block bodyclass %}textpage story{% endblock %}

{% block description %}The story of how Jakob and Johan had the first leather bags made in India.{% endblock %}

{% block content %}

<article>

<header><h1>The story</h1></header>

 <p>We, Jakob and Johan, two students from Copenhagen, met a group of Swedes at our guesthouse near Pondicherry, India,
     whilst volunteering at a nearby school.
     They had started a fashion accessory business a few months back, commissioned the production of several hundred
     leather bags - cows are only that holy in India - and travelled around India. They were now back to pick up the
     finished goods, and we, a bit curious about out-sourcing and design processes, had them show us the leather workshop.
</p>
<p>After a dirty and dusty bike ride, we came to a small house where a few dozen men and women were busy stitching,
    stamping, engraving and cutting leather for bags and belts.
    The manager, Mr. Ganesan, explained the various work stations in the workshop and the working conditions of the workers,
    whilst he proudly demonstrated their careful attention to detail and quality craftsmanship.
    </p>

<p> We were inspired to design something ourselves, and we immediately went home to our room at our guesthouse.
    Johan dug out his aging Macbook Pro, opened Google Sketchup, and we began designing. A lot of
    sketches, a bunch of Johan's 3D models and a few of Jakob's stiched together paper prototypes later we had an initial design
    for a laptop leather sleeve. </p>

<p>We could not leave Johan's computer at the workshop,
    so we had two 1:1 wooden macbook (13.3" and 15") replicas built by the local woodworker. We wanted to be sure that
    the measurements of the leather sleeves would not be completely off, as we could not stay and monitor the whole
    production process; we had some travelling to do.  </p>

<p>We handed everything over to Mr. Ganesan - drawings, models, wooden macs and measurements. Mr. Ganesan got hold
    of some high-quality leather from Chennai (Madras), and produced the first <em class="jj">Jakob.Johan</em>
    prototype. After a few minor corrections, 40 more were produced - handcrafted from genuine
    leather in the small leather workshop in Pondicherry, India - and shipped to Denmark.</p>

<figure>
    {% for image in images %}
        <div class="image">
        {% thumbnail image.file "1000" as big %}
                {% thumbnail image.file "344x216" crop="center" as im %}
                    <a href="{{ big.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
        {% endthumbnail %}
        </div>
    {% endfor %}
</figure>

</article>

{% endblock %}
